<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SiemensTip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SiemensTip.Properties.Settings>
      <setting name="IsWriteRes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsWriteQuality" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsModifyTemplate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsModifySetting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsWriteNG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BotRadiusMin" serializeAs="String">
        <value>46.5</value>
      </setting>
      <setting name="Lateral_thMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Lateral_thMax" serializeAs="String">
        <value>3.5</value>
      </setting>
      <setting name="IsSaveImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LeftPixelOffset" serializeAs="String">
        <value>1|1,2|2,3|3,4|4,5|5,6|6,7|7,8|8,9|9,10|10,11|11,12|12,13|13,14|14,15|15,16|16,17|17,18|18,19|19,20|20,21|21,22|22,23|23,24|24</value>
      </setting>
      <setting name="RightPixelOffset" serializeAs="String">
        <value>1|1,2|2,3|3,4|4,5|5,6|6,7|7,8|8,9|9,10|10,11|11,12|12,13|13,14|14,15|15,16|16,17|17,18|18,19|19,20|20,21|21,22|22,23|23,24|24</value>
      </setting>
      <setting name="BotRadiusMax" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="CentrifugeAngleMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CentrifugeAngleMax" serializeAs="String">
        <value>5</value>
      </setting>
    </SiemensTip.Properties.Settings>
  </userSettings>
</configuration>